@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 94%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.main {
  height: 80%;
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 225px 20px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main img {
  position: absolute;
  right: 30px;
  top: 31%;
  z-index: 1;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  cursor: pointer;
}
.main img:hover{
    background-color: hsl(0, 0%, 8%);
}
header {
  height: 35%;
  width: 90%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border-bottom: 1px solid hsl(0, 0%, 83%);
}
.elem {
  color: hsl(0, 1%, 44%);
  gap: 20px;
}
.dayHeading {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 0px;
  letter-spacing: 3px;
}

input {
  width: 150px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  color: hsl(0, 1%, 44%);
  font-size: 20px;
  text-transform: uppercase;
}
input:focus{
    outline: 1px solid hsl(259, 100%, 65%);
}
.error{
  color: hsl(0, 100%, 67%);
  font-size: 12px;
  font-style: italic;
  padding-top: 5px;
}
.body {
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0em 2em;
}
.box {
  display: flex;
  height: 30%;
}
.box h2 {
  font-weight: 700;
  font-style: italic;
  font-size: 4.5rem;
}
.boxValue {
  color: hsl(259, 100%, 65%);
  letter-spacing: 0.5rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
